.route {
    height: 100vh;
    view-transition-name: route;
}

::view-transition-old(route) {
    animation: 0.25s ease-in-out both 0s blur-out;
}

::view-transition-new(route) {
    animation: 0.25s ease-in-out both 0.25s blur-in;
}

@keyframes blur-in {
    from {
        filter: blur(20px);
        opacity: 0;
        scale: 1.1;
    }
    to {
        filter: blur(0px);
        opacity: 1;
        scale: 1;
    }
}

@keyframes blur-out {
    from {
        filter: blur(0px);
        opacity: 1;
        scale: 1;
    }
    to {
        filter: blur(20px);
        opacity: 0;
        scale: 0.9;
    }
}
