.route{
	height: 100vh;
}

.route-enter {
	filter: blur(20px);
	transform: scale(1.1);
}

.route-enter-active {
	filter: blur(0px);
	transform: scale(1);
	transition: filter .25s, transform .25s;
}

.route-exit {
	filter: blur(0px);
	opacity: 100%;
	transform: scale(1);
	backdrop-filter: blur(40px);
}

.route-exit-active {
	filter: blur(20px);
	transform: scale(0.9);
	opacity: 0;
	transition: filter .25s, opacity .25s, transform .25s;
}

body:has(.route-enter-active), body:has(.route-exit-active){
	overflow: hidden;
}